## Teste para Engenheiro de Dados - Indeorum
### Candidato: Victor Barros

##### Install Libraries

In [ ]:
!pip install pandas
!pip install fuzzywuzzy
!pip install fuzzywuzzy[speedup]

##### PyLibraries

In [248]:
import pandas as pd
import  sqlite3
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

##### Loading Dataset

In [260]:
df = pd.read_csv('data.tsv', sep ='\t')

##### Get Table Information

In [261]:
df.shape

(157482, 7)

In [262]:
df.columns

Index(['name', 'jobs', 'start_end', 'institution', 'production',
       'publication_date', 'type'],
      dtype='object')

In [263]:
df.dtypes

name                object
jobs                object
start_end           object
institution         object
production          object
publication_date    object
type                object
dtype: object

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157482 entries, 0 to 157481
Data columns (total 7 columns):
name                157482 non-null object
jobs                157482 non-null object
start_end           157482 non-null object
institution         157482 non-null object
production          157482 non-null object
publication_date    157482 non-null object
type                157482 non-null object
dtypes: object(7)
memory usage: 8.4+ MB

In [265]:
df.head(5)

,name,jobs,start_end,institution,production,publication_date,type
0,Alexis,Insurance broker,2008-09-10|nill,Faulkner-Fox University,Phased impactful capability,17-12-1994,journal
1,Brian,Interpreter,2009-11-28|nill,Reynolds PLC Research Institute,Multi-layered hybrid moderator,08-03-1978,Other
2,Rebecca Duncan,Geophysical data processor,2010-05-21|2018-05-28,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,article
3,Joanne,Futures trader,2009-09-14|nill,"Robertson, Edwards and Wang University",Universal tertiary access,29-04-2007,journal
4,Justin,"Therapist, occupational",2008-05-14|nill,Robinson LLC Company,Optional empowering monitoring,06-03-2017,jornal

##### Cleaning and Tidying Data

##### * Adjusting the datatime *

In [266]:
df['publication_date'] = pd.to_datetime(df.publication_date)
df.head(20)

,name,jobs,start_end,institution,production,publication_date,type
0,Alexis,Insurance broker,2008-09-10|nill,Faulkner-Fox University,Phased impactful capability,1994-12-17,journal
1,Brian,Interpreter,2009-11-28|nill,Reynolds PLC Research Institute,Multi-layered hybrid moderator,1978-08-03,Other
2,Rebecca Duncan,Geophysical data processor,2010-05-21|2018-05-28,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,article
3,Joanne,Futures trader,2009-09-14|nill,"Robertson, Edwards and Wang University",Universal tertiary access,2007-04-29,journal
4,Justin,"Therapist, occupational",2008-05-14|nill,Robinson LLC Company,Optional empowering monitoring,2017-06-03,jornal
5,Emma Wheeler,Counselling psychologist,2011-01-16|2017-05-28,Brown-Williams Research Institute,Implemented encompassing project,2018-09-30,other
6,Henry,"Surveyor, building control",2008-05-09|nill,Thomas Ltd Research Institute,Devolved mobile knowledgebase,2009-08-13,Other
7,Christopher Wilson,"Psychologist, sport and exercise",2009-12-02|2018-11-13,Jordan-Watts Company,Secured context-sensitive artificial intelligence,2018-11-08,book
8,Kiara Flores,Surgeon,2010-05-27|2014-04-14,West-Walton Research Institute,Compatible national system engine,2016-12-23,journal
9,Craig Hood,Drilling engineer,2012-10-21|2014-05-02,Obrien-Bailey University,Mandatory zero administration functionalities,2014-01-15,book
10,Cameron,Professor Emeritus,2011-02-06|nill,"Perez, Hood and Herring University",Up-sized bottom-line productivity,1973-03-25,book
11,Ashley Harris,"Scientist, research (physical sciences)",2010-05-03|2015-04-19,"Day, Lindsey and Garner University",Stand-alone human-resource encoding,2015-12-30,book
12,Raymond,"Designer, graphic",2012-05-19|nill,Hanson-Young Research Institute,Distributed hybrid benchmark,1974-05-16,jornal
13,Michelle Brown,Hospital doctor,2008-05-13|2015-08-09,"Fisher, Vaughn and Anderson University",Virtual upward-trending pricing structure,2017-10-19,other
14,James,Office manager,2008-04-02|nill,"Freeman, Mccoy and Martin University",Polarized system-worthy array,2004-09-15,jornal
15,Joseph,General practice doctor,2009-09-04|nill,Olsen-Hill University,Programmable 24/7 task-force,1999-06-11,Other
16,Erin Maxwell,"Surveyor, mining",2009-01-05|2015-03-15,"Ferguson, Patterson and Hughes University",Versatile composite functionalities,2009-05-13,book
17,Desiree Cunningham,Materials engineer,2011-01-19|2017-01-19,Patterson Group Company,User-friendly bi-directional moderator,2011-10-09,book
18,Jessica,Financial risk analyst,2012-12-27|nill,Ingram-Green Company,User-friendly holistic data-warehouse,1971-01-08,journal
19,David Newman,Insurance claims handler,2010-01-11|2015-07-10,"Mcdonald, Castro and Moreno University",Open-source encompassing flexibility,2012-03-20,artilce

##### * First letter of a lowercase string - Column 'Type' *

In [267]:
df['type'] = df['type'].str.capitalize()
df.head(20)

,name,jobs,start_end,institution,production,publication_date,type
0,Alexis,Insurance broker,2008-09-10|nill,Faulkner-Fox University,Phased impactful capability,1994-12-17,Journal
1,Brian,Interpreter,2009-11-28|nill,Reynolds PLC Research Institute,Multi-layered hybrid moderator,1978-08-03,Other
2,Rebecca Duncan,Geophysical data processor,2010-05-21|2018-05-28,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,Article
3,Joanne,Futures trader,2009-09-14|nill,"Robertson, Edwards and Wang University",Universal tertiary access,2007-04-29,Journal
4,Justin,"Therapist, occupational",2008-05-14|nill,Robinson LLC Company,Optional empowering monitoring,2017-06-03,Jornal
5,Emma Wheeler,Counselling psychologist,2011-01-16|2017-05-28,Brown-Williams Research Institute,Implemented encompassing project,2018-09-30,Other
6,Henry,"Surveyor, building control",2008-05-09|nill,Thomas Ltd Research Institute,Devolved mobile knowledgebase,2009-08-13,Other
7,Christopher Wilson,"Psychologist, sport and exercise",2009-12-02|2018-11-13,Jordan-Watts Company,Secured context-sensitive artificial intelligence,2018-11-08,Book
8,Kiara Flores,Surgeon,2010-05-27|2014-04-14,West-Walton Research Institute,Compatible national system engine,2016-12-23,Journal
9,Craig Hood,Drilling engineer,2012-10-21|2014-05-02,Obrien-Bailey University,Mandatory zero administration functionalities,2014-01-15,Book
10,Cameron,Professor Emeritus,2011-02-06|nill,"Perez, Hood and Herring University",Up-sized bottom-line productivity,1973-03-25,Book
11,Ashley Harris,"Scientist, research (physical sciences)",2010-05-03|2015-04-19,"Day, Lindsey and Garner University",Stand-alone human-resource encoding,2015-12-30,Book
12,Raymond,"Designer, graphic",2012-05-19|nill,Hanson-Young Research Institute,Distributed hybrid benchmark,1974-05-16,Jornal
13,Michelle Brown,Hospital doctor,2008-05-13|2015-08-09,"Fisher, Vaughn and Anderson University",Virtual upward-trending pricing structure,2017-10-19,Other
14,James,Office manager,2008-04-02|nill,"Freeman, Mccoy and Martin University",Polarized system-worthy array,2004-09-15,Jornal
15,Joseph,General practice doctor,2009-09-04|nill,Olsen-Hill University,Programmable 24/7 task-force,1999-06-11,Other
16,Erin Maxwell,"Surveyor, mining",2009-01-05|2015-03-15,"Ferguson, Patterson and Hughes University",Versatile composite functionalities,2009-05-13,Book
17,Desiree Cunningham,Materials engineer,2011-01-19|2017-01-19,Patterson Group Company,User-friendly bi-directional moderator,2011-10-09,Book
18,Jessica,Financial risk analyst,2012-12-27|nill,Ingram-Green Company,User-friendly holistic data-warehouse,1971-01-08,Journal
19,David Newman,Insurance claims handler,2010-01-11|2015-07-10,"Mcdonald, Castro and Moreno University",Open-source encompassing flexibility,2012-03-20,Artilce

##### * Separating start and end columns- Column 'start_end' *

In [268]:
df[['start','end']] = df.start_end.str.split("|",expand=True,)
df.head(5)

,name,jobs,start_end,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,2008-09-10|nill,Faulkner-Fox University,Phased impactful capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,2009-11-28|nill,Reynolds PLC Research Institute,Multi-layered hybrid moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,2010-05-21|2018-05-28,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,2009-09-14|nill,"Robertson, Edwards and Wang University",Universal tertiary access,2007-04-29,Journal,2009-09-14,nill
4,Justin,"Therapist, occupational",2008-05-14|nill,Robinson LLC Company,Optional empowering monitoring,2017-06-03,Jornal,2008-05-14,nill

##### * Deleting column start_end*

In [269]:
df.drop(df.columns[[2]], axis=1, inplace=True)
df.head(5)

,name,jobs,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,Faulkner-Fox University,Phased impactful capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,Reynolds PLC Research Institute,Multi-layered hybrid moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,"Robertson, Edwards and Wang University",Universal tertiary access,2007-04-29,Journal,2009-09-14,nill
4,Justin,"Therapist, occupational",Robinson LLC Company,Optional empowering monitoring,2017-06-03,Jornal,2008-05-14,nill

##### * Adjusting columns 'jobs' - delete comma *

In [270]:
df['jobs'] = df['jobs'].replace(',', '', regex=True)

In [271]:
df['jobs'] = df['jobs'].str.capitalize()


##### * Adjusting columns 'institution' delete '-' *

In [272]:
df['institution'] = df['institution'].replace('-', ' ', regex=True)

In [273]:
df['institution'] = df['institution'].str.title()

##### * Adjusting differences in the dataframe - Column 'Type' *

In [274]:
listOfTypes = ['Articles', 'Book', 'Article', 'Other']
for i in listOfTypes:
    for j in df.type.items():
        #Pra printar a similaridade  so tirar o comentrio
        #print ('{}, {}, Similarity: {}'. format(i,j[1], fuzz.partial_token_sort_ratio(i,j)))

SyntaxError: unexpected EOF while parsing (<ipython-input-274-7c099fe78e71>, line 6)

In [275]:
df['type'] = df['type'].replace(['Artilce'], 'Article')
df['type'] = df['type'].replace(['Jornal'], 'Journal')
df.head(5)

,name,jobs,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,Faulkner Fox University,Phased impactful capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,Reynolds Plc Research Institute,Multi-layered hybrid moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,Morris Copeland University,Optional real-time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,"Robertson, Edwards And Wang University",Universal tertiary access,2007-04-29,Journal,2009-09-14,nill
4,Justin,Therapist occupational,Robinson Llc Company,Optional empowering monitoring,2017-06-03,Journal,2008-05-14,nill

##### * Adjusting columns 'production' *

In [276]:
df['production'] = df['production'].str.title()

In [277]:
df.head(5)

,name,jobs,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,Faulkner Fox University,Phased Impactful Capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,Reynolds Plc Research Institute,Multi-Layered Hybrid Moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,Morris Copeland University,Optional Real-Time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,"Robertson, Edwards And Wang University",Universal Tertiary Access,2007-04-29,Journal,2009-09-14,nill
4,Justin,Therapist occupational,Robinson Llc Company,Optional Empowering Monitoring,2017-06-03,Journal,2008-05-14,nill

##### Database - SQLite3
###### Writing to a SQLite database

In [278]:
con = sqlite3.connect("db.sqlite") 
con.execute ("DROP TABLE IF EXISTS engineertest" ) 
df.to_sql ("engineertest", con)

###### Reading data from SQL databases

In [279]:
con = sqlite3.connect("db.sqlite")
print("Opened database successfully")
df = pd.read_sql("SELECT * from engineertest order by publication_date desc", con)
df['publication_date'] = pd.to_datetime(df.publication_date)

Opened database successfully

In [280]:
df.head(5)

,index,name,jobs,institution,production,publication_date,type,start,end
0,35977,Daniel,Retail banker,"Smith, Rosales And Conley Company",Decentralized Demand-Driven Concept,2019-12-02,Article,2009-10-22,nill
1,39400,David,Engineer materials,Hanson Group University,Grass-Roots Empowering Protocol,2019-12-02,Book,2011-01-29,nill
2,52176,Jordan,Chief operating officer,"Cantrell, Henry And Boyd University",Open-Source Non-Volatile Adapter,2019-12-02,Article,2009-07-04,nill
3,54997,Susan,Microbiologist,"Whitehead, Cross And Moses Company",Team-Oriented Attitude-Oriented Array,2019-12-02,Other,2012-06-21,nill
4,87709,Valerie,Proofreader,Hunter Williams Research Institute,Diverse Intermediate Paradigm,2019-12-02,Book,2011-07-21,nill

###### SQL databases - Test Querys - Comands Examples

###### * SQLite Select
###### * SQLite Order By
###### * SQLite Select Distinct
###### * SQLite Where
###### * SQLite Limit

In [288]:
df = pd.read_sql("SELECT * from engineertest where name LIKE 'Daniel%'", con)
df['publication_date'] = pd.to_datetime(df.publication_date)
df.head(5)

,index,name,jobs,institution,production,publication_date,type,start,end
0,39,Danielle Myers,Air broker,Smith Wilson University,Optional Tangible Access,2018-03-28,Journal,2008-10-28,2017-02-02
1,42,Daniel,Environmental education officer,"Olson, Taylor And Reeves Research Institute",Cross-Group National Approach,1974-06-08,Article,2010-04-02,nill
2,52,Daniel,Curator,Davis Llc University,Polarized Analyzing Contingency,1984-12-20,Article,2012-08-19,nill
3,307,Danielle Alvarado,Art therapist,Thomas Group Research Institute,Grass-Roots Mobile Approach,2014-01-12,Book,2009-05-03,2016-04-01
4,311,Daniel Nunez,Risk analyst,Vance Inc University,Universal Uniform Orchestration,2010-08-01,Journal,2012-04-12,2018-10-13

In [289]:
df = pd.read_sql("SELECT * from engineertest where name = 'Brenda Jones' or name = 'Geoffrey Ruiz' or name = 'Natalie Floyd'", con)
df['publication_date'] = pd.to_datetime(df.publication_date)
df.head(5)

,index,name,jobs,institution,production,publication_date,type,start,end
0,11801,Brenda Jones,Copywriter advertising,"Cannon, Mercer And Hernandez University",Decentralized Disintermediate Core,2013-12-19,Other,2012-11-03,2017-07-16
1,39472,Geoffrey Ruiz,Contracting civil engineer,Hanson Group University,Right-Sized Eco-Centric Open Architecture,2013-12-22,Journal,2009-11-02,2018-03-13
2,69119,Brenda Jones,Regulatory affairs officer,Hanson Group University,Right-Sized Analyzing Productivity,2018-05-07,Journal,2012-02-12,2018-11-21
3,108783,Brenda Jones,Production engineer,Ramirez Inc University,Programmable High-Level Access,2012-09-06,Article,2011-03-09,2018-05-06
4,139384,Brenda Jones,Commissioning editor,"Lin, Lewis And Johnson University",Ergonomic Well-Modulated Knowledge User,2012-07-10,Journal,2010-11-12,2016-02-23

In [290]:
df = pd.read_sql("SELECT * from engineertest where name = 'Brenda Jones' and type = 'Article'", con)
df['publication_date'] = pd.to_datetime(df.publication_date)
df.head(5)

,index,name,jobs,institution,production,publication_date,type,start,end
0,108783,Brenda Jones,Production engineer,Ramirez Inc University,Programmable High-Level Access,2012-09-06,Article,2011-03-09,2018-05-06
1,143279,Brenda Jones,Engineering geologist,Davis Inc Research Institute,Quality-Focused Holistic Paradigm,2015-04-12,Article,2009-03-05,2014-02-28