## Teste para Engenheiro de Dados - Indeorum
### Candidato: Victor Barros

##### Install Libraries

In [ ]:
!pip install pandas
!pip install fuzzywuzzy
!pip install fuzzywuzzy[speedup]

##### PyLibraries

In [135]:
import pandas as pd
import  sqlite3
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

##### Loading Dataset

In [173]:
df = pd.read_csv('data.tsv', sep ='\t')

##### Get Table Information

In [174]:
df.shape

(157482, 7)

In [175]:
df.columns

Index(['name', 'jobs', 'start_end', 'institution', 'production',
       'publication_date', 'type'],
      dtype='object')

In [176]:
df.dtypes

name                object
jobs                object
start_end           object
institution         object
production          object
publication_date    object
type                object
dtype: object

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157482 entries, 0 to 157481
Data columns (total 7 columns):
name                157482 non-null object
jobs                157482 non-null object
start_end           157482 non-null object
institution         157482 non-null object
production          157482 non-null object
publication_date    157482 non-null object
type                157482 non-null object
dtypes: object(7)
memory usage: 8.4+ MB

In [178]:
df.head(5)

,name,jobs,start_end,institution,production,publication_date,type
0,Alexis,Insurance broker,2008-09-10|nill,Faulkner-Fox University,Phased impactful capability,17-12-1994,journal
1,Brian,Interpreter,2009-11-28|nill,Reynolds PLC Research Institute,Multi-layered hybrid moderator,08-03-1978,Other
2,Rebecca Duncan,Geophysical data processor,2010-05-21|2018-05-28,Morris-Copeland University,Optional real-time Graphical User Interface,2016-09-01,article
3,Joanne,Futures trader,2009-09-14|nill,"Robertson, Edwards and Wang University",Universal tertiary access,29-04-2007,journal
4,Justin,"Therapist, occupational",2008-05-14|nill,Robinson LLC Company,Optional empowering monitoring,06-03-2017,jornal

##### Cleaning and Tidying Data

##### * Adjusting the datatime *

In [179]:
df['publication_date'] = pd.to_datetime(df.publication_date)

##### * First letter of a lowercase string - Column 'Type' *

In [180]:
df['type'] = df['type'].str.capitalize()

##### * Separating start and end columns- Column 'start_end' *

In [181]:
df[['start','end']] = df.start_end.str.split("|",expand=True,)

##### * Deleting column start_end*

In [182]:
df.drop(df.columns[[2]], axis=1, inplace=True)

##### * Adjusting columns 'jobs' - delete comma *

In [183]:
df['jobs'] = df['jobs'].replace(',', '', regex=True)

In [184]:
df['jobs'] = df['jobs'].str.capitalize()


##### * Adjusting columns 'institution' delete '-' *

In [185]:
df['institution'] = df['institution'].replace('-', ' ', regex=True)

In [186]:
df['institution'] = df['institution'].str.title()

##### * Adjusting differences in the dataframe - Column 'Type' *

In [187]:
listOfTypes = ['Articles', 'Book', 'Article', 'Other']
for i in listOfTypes:
    for j in df.type.items():
        #Pra printar a similaridade é so tirar o comentário
        #print ('{}, {}, Similarity: {}'. format(i,j[1], fuzz.partial_token_sort_ratio(i,j)))

SyntaxError: unexpected EOF while parsing (<ipython-input-187-7c099fe78e71>, line 6)

In [188]:
df['type'] = df['type'].replace(['Artilce'], 'Article')
df['type'] = df['type'].replace(['Jornal'], 'Journal')
df.head(5)

,name,jobs,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,Faulkner Fox University,Phased impactful capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,Reynolds Plc Research Institute,Multi-layered hybrid moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,Morris Copeland University,Optional real-time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,"Robertson, Edwards And Wang University",Universal tertiary access,2007-04-29,Journal,2009-09-14,nill
4,Justin,Therapist occupational,Robinson Llc Company,Optional empowering monitoring,2017-06-03,Journal,2008-05-14,nill

##### * Adjusting columns 'production' *

In [189]:
df['production'] = df['production'].str.title()

In [190]:
df.head(5)

,name,jobs,institution,production,publication_date,type,start,end
0,Alexis,Insurance broker,Faulkner Fox University,Phased Impactful Capability,1994-12-17,Journal,2008-09-10,nill
1,Brian,Interpreter,Reynolds Plc Research Institute,Multi-Layered Hybrid Moderator,1978-08-03,Other,2009-11-28,nill
2,Rebecca Duncan,Geophysical data processor,Morris Copeland University,Optional Real-Time Graphical User Interface,2016-09-01,Article,2010-05-21,2018-05-28
3,Joanne,Futures trader,"Robertson, Edwards And Wang University",Universal Tertiary Access,2007-04-29,Journal,2009-09-14,nill
4,Justin,Therapist occupational,Robinson Llc Company,Optional Empowering Monitoring,2017-06-03,Journal,2008-05-14,nill

##### Database - SQLite3
###### Writing to a SQLite database

In [169]:
con = sqlite3.connect("db.sqlite") 
con.execute ("DROP TABLE IF EXISTS engineertest" ) 
df.to_sql ("engineertest", con)

###### Reading data from SQL databases

In [191]:
con = sqlite3.connect("db.sqlite")
print("Opened database successfully")
df = pd.read_sql("SELECT * from engineertest order by publication_date desc", con)
df['publication_date'] = pd.to_datetime(df.publication_date)

Opened database successfully

In [192]:
df.head(5)

,level_0,index,name,jobs,institution,production,publication_date,type,start,end
0,0,35977,Daniel,Retail banker,"Smith, Rosales And Conley Company",Decentralized Demand-Driven Concept,2019-12-02,Article,2009-10-22,nill
1,1,39400,David,Engineer materials,Hanson Group University,Grass-Roots Empowering Protocol,2019-12-02,Book,2011-01-29,nill
2,2,52176,Jordan,Chief operating officer,"Cantrell, Henry And Boyd University",Open-Source Non-Volatile Adapter,2019-12-02,Article,2009-07-04,nill
3,3,54997,Susan,Microbiologist,"Whitehead, Cross And Moses Company",Team-Oriented Attitude-Oriented Array,2019-12-02,Other,2012-06-21,nill
4,4,87709,Valerie,Proofreader,Hunter Williams Research Institute,Diverse Intermediate Paradigm,2019-12-02,Book,2011-07-21,nill

###### SQL databases - Test Querys

In [206]:
df = pd.read_sql("SELECT * from engineertest where name = 'Daniel' and type = 'Book'", con)
df['publication_date'] = pd.to_datetime(df.publication_date)
df.head(10)

,level_0,index,name,jobs,institution,production,publication_date,type,start,end
0,47,31053,Daniel,Tour manager,Brown Inc Company,Multi-Tiered Grid-Enabled Hub,2019-08-02,Book,2011-11-24,nill
1,74,92162,Daniel,Journalist newspaper,"Harrell, Schneider And King Research Institute",Fully-Configurable Global Leverage,2019-06-02,Book,2012-06-02,nill
2,3190,86474,Daniel,Research officer political party,"Edwards, Johnson And Holland University",Devolved National Standardization,2018-09-07,Book,2011-07-01,nill
3,4242,109902,Daniel,Designer television/film set,"Adams, Morris And Jones Company",Optional Tangible Extranet,2018-07-13,Book,2009-12-02,nill
4,4454,67994,Daniel,Translator,"Franklin, Hale And Rodriguez Company",Synergistic Maximized Solution,2018-07-02,Book,2008-06-26,nill
5,5920,132348,Daniel,Science writer,Blair Inc University,Vision-Oriented Multi-Tasking Strategy,2018-04-19,Book,2009-04-17,nill
6,7389,115003,Daniel,Programmer applications,Haynes Olson Research Institute,Polarized Intermediate Process Improvement,2018-02-02,Book,2011-10-14,nill
7,10074,67194,Daniel,Higher education careers adviser,Rodgers Cox University,Open-Architected Human-Resource Algorithm,2017-09-17,Book,2011-06-24,nill
8,13969,128020,Daniel,Paediatric nurse,Cowan Martin Company,Robust Homogeneous Array,2017-02-25,Book,2011-10-20,nill
9,16700,88743,Daniel,Designer furniture,Holland Skinner Company,Re-Engineered Neutral Leverage,2016-10-11,Book,2009-05-11,nill